extends layout.pug

block content
  div.card
    div.table-responsive
      table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
        thead
          tr
            th.w-1
            th.w-auto Org
            th.w-1 Actions

        tbody
          each installation in installations
            tr
              td.text-center: span.avatar.rounded(style=`background-image: url(https://unavatar.now.sh/github/${installation.name})`)

              td
                span #[=installation.name] #[span.small= `(${installation.total})`]
                div.small.text-muted Last Update: #[= day(installation.updated).fromNow()]

              td
                a.btn.btn-info.btn-sm(href=`/${installation.name}`) Overview
                span.mr-2
                a.btn.btn-success.btn-sm(href=`/${installation.name}/dependencies`) Dependencies
                span.mr-2
                a.btn.btn-primary.btn-sm(href=`/${installation.name}/repositories`) Repositories
