extends layout.pug

include ../mixins/pagination.pug

block content
  style.
    .avatar-container {
      position: relative
    }

    .avatar-initials {
      filter: brightness(65%);
      background-color: transparent;
    }

    .avatar-picture {
      position: absolute;
    }

  div.row.row-cards
    each name in Object.keys(stats)
      div.col-6.col-sm-4.col-lg-2
        div.card
          div.card-body.p-3.text-center
            div.h1.m-0= stats[name]
            div.text-muted= name

  div.row
    div.col-12.col-lg-6
      div.card
        div.card-header
          h4.card-title Fat Repositories

          div.card-options
            a.btn.btn-secondary.btn-sm(href=`/${org}/repositories`) View All

        table.table.card-table
          thead
            tr
              th Repository
              th.text-right # Dependencies

          tbody
            each repository in repositories
              tr
                td: a(href=`/${org}/repositories/${repository.repo}`)= repository.repo
                td.text-right
                  span.text-muted= repository.count

    div.col-12.col-lg-6
      div.card
        div.card-header
          h4.card-title Top used Packages

          div.card-options
            a.btn.btn-secondary.btn-sm(href=`/${org}/dependencies`) View All

        table.table.card-table
          thead
            tr
              th Package
              th.text-right # Dependants

          tbody
            each package in packages
              tr
                td: a(href=`/${org}/dependencies/${package.name}`)= package.name
                td.text-right
                  span.text-muted= package.count
